@import "tailwindcss";

body{
    background-color: #1e1e1e;
}

.form-buscador{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.buscador{
    border-radius: 16px;
    text-align: center;
    background-color: white;
    padding: 0px 0px .2rem #ffff;
    border: none;
}

.gif {
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1/1; 
    object-fit: cover;
}


